@import url('https://rsms.me/inter/inter.css');
@import "header.css";
@import "section.css";
@import "contact.css";
@import "footer.css";
@import "project.css";
@import "mobile.css";


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  border: none;
  background: none;
	font-family: 'Inter', sans-serif;
}
::-webkit-scrollbar {
  display: none;
}
ion-icon{
	font-size: 20pt;
}
html, body{
	background-color: #222;
	transition: all 0.5s ease;
}
.hidden{
  display: none;
}
.cursor {
  position: absolute;
  width: 600px;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: scale(0.9);
  opacity: 0;
  margin: -400px 0 0 -100px;
  background: url(../img/io.jpg) no-repeat 50% 50%;
  background-size: cover;
	z-index: 2;
}
.project {
  position: relative;
	z-index: 2;
}
.mouse{
	width: 3rem;
	height: 3rem;
	border: 2px solid #333;
	border-radius: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	pointer-events: none;
	transition: all 0.3s ease;
	transition-property: background, transform;
	transform-origin: 100% 100%;
}
.link-grow{
  transform: scale(2);
	background: #333;
}
.link-grow1{
	transform: scale(4);
	background: #e6b200;
	border: none;
	mix-blend-mode: difference;
}
.link-grow2{
	transform: scale(2);
	background: #e6b200;
	border: none;
	mix-blend-mode: difference;
}
.is-open{
	height: 100vh;
}
.is-close{
	height: 0px;
}
